In [1]:
#Pandas DataFrame

In [2]:
import pandas as pd
df = pd.DataFrame(columns=["name", "weight", "height", "birth_year", "gender", "city"])

df

Empty DataFrame
Columns: [name, weight, height, birth_year, gender, city]
Index: []

In [3]:
df.loc[0] = ["ana", 42.2, 155, 2000, "female", "newyork"]
df.loc[1] = ["dane", 50.5, 160, 1997, "male", "chicago"]
df.loc[2] = ["david", 62.1, 162, 1996, "male", "austin"]
df.loc[3] = ["kevin", 64.0, 170, 1987, "male", "newyork"]
df.loc[4] = ["joe", 59.0, 167, 1998, "male", "Nan"]
df.loc[5] = ["rose", "Nan", 159, 2003, "female", "newyork"]

df

    name weight height birth_year  gender     city
0    ana   42.2    155       2000  female  newyork
1   dane   50.5    160       1997    male  chicago
2  david   62.1    162       1996    male   austin
3  kevin   64.0    170       1987    male  newyork
4    joe   59.0    167       1998    male      Nan
5   rose    Nan    159       2003  female  newyork

In [ ]:
#Create another Pandas DataFrame as the following and merge it with the previous

In [ ]:
df = pd.DataFrame(columns=["nick_name", "full_name"])

df

In [ ]:
df.loc[0] = ["ana", "ana levis"]
df.loc[1] = ["dane", "dane michiel"]
df.loc[2] = ["david", "david john"]
df.loc[3] = ["kevin", "kevin julio"]
df.loc[4] = ["joe", "joe taslim"]
df.loc[5] = ["rose", "rose diana"]

df

In [ ]:
#Drop nick_name column and fill null values in the full_name from the merged 
DataFrame with their original name column.

In [ ]:
df = pd.DataFrame({
    "full_name": ["ana levis",  "dane michiel", "david john", "kevin julio", "joe taslim", "rose diana"],
    "nick_name": ["ana", "dane", "david", "kevin", "joe", "rose"],
    'weight': [42.2, 50.2, 62.2, 64.0, 59.0, "Nan"],
    "height": [155, 160, 162, 170, 167, 159],
    "birth_year": [2000, 1997, 1996, 1987,1998, 2003],
    "gender": ['female', 'male','male','male','male', 'female'],
    "city": ["newyork", "chicago", "austin", "newyork", "Nan", "newyork"],
    })
df

In [ ]:
#Create a new ‘bmi’ column calculated based on the following formula

In [ ]:
height = float(input('enter height in  inches:'))
weight = float(input('enter weight in lbs:'))

In [ ]:
def BMI(height,weight):
    bmi = weight/(height**2)* 703
    if (bmi < 16):
        return'severely uderweight',bmi
    
    elif (bmi >= 16 and bmi < 18.5):
        return 'underweight', bmi
    
    elif (bmi >= 18.5 and bmi < 25):
        return 'healthy'bmi
    
    elif (bmi >= 25 and bmi < 30):
        return 'overweight', bmi
        
    elif (bmi >= 30):
        return 'obese', bmi
    
    
    quote, bmi = BMI(height, weight)
    print('your bmi is :{} and you are :{}'.format(bmi, quote)

In [ ]:
#Create a new ‘bmi_class’ column following the definition in the table below.

In [ ]:
df = pd.DataFrame(columns=["BMI", "class"])

df

In [ ]:
df.loc[0] = ["<18.5", "underweight"]
df.loc[1] = ["18.5<=BMI<25", "normalweight"]
df.loc[2] = ["25<BMI<30", "overweight"]
df.loc[3] = ["30<BMI<35", "obesity class 1"]
df.loc[4] = ["35<BMI<40", "obesity class 2"]
df.loc[5] = [">=", "obesity class 3"]

df