## Welcome to Day 16 Hands On!

In [1]:
import pandas as pd
import numpy as np

### Part 1: Regularized Regression

Pada kesempatan kali ini, kita akan mengunduh data dari: http://archive.ics.uci.edu/ml/datasets/Communities+and+Crime. Kita diminta untuk memprediksi jumlah `Violent Crime` yang terjadi pada setiap lokasi (satu lokasi direpresentasikan oleh satu baris). Terdapat 120 kolom 'feature', dan hanya 1 kolom predictor.

Berarti, datanya memiliki ukuran yang besar, banyak kolom, dan mungkin saja banyak kolom yang 'redundant' atau malah tidak penting. Jika kita menggunakan semua kolom tersebut, maka kemungkinan OverFitting akan besar terjadi. Oleh sebab itu, mari kita lihat apakah regularization membantu atau tidak. 

Selain itu, data ini juga memiliki banyak missing values. Dari hampir 2000 baris, hanya ada 300 baris yang memiliki nilai penuh (tanpa missing values). Missing values yang dihadapi di sini juga sulit untuk diimputasikan dikarenakan banyaknya kolom yang ada. 

Ini adalah salah satu contoh data yang memiliki kualitas 'buruk' (row sedikit, kolom sangat banyak dan kita tidak memiliki domain knowledge yang cukup, serta banyak missing values).

In [2]:
from sklearn.linear_model import LinearRegression

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_squared_error as mse

In [4]:
import pandas as pd
url = 'https://github.com/albahnsen/PracticalMachineLearningClass/raw/master/datasets/communities.data'
crime = pd.read_csv(url, header=None, na_values=['?'])

df = crime.iloc[:,5:]
df['location'] = crime[[3]]

df = df.dropna().reset_index(drop = True)

In [5]:
X = df.drop(127, axis=1)
X = X.drop('location', axis = 1)
y = df[127]

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, test_size = 0.2)

In [7]:
def k_fold_eval(model):
    kf = KFold(n_splits = 5)
    RMSE_length = 5
    RMSE_list = []
    
    for i, (train, val) in enumerate(kf.split(X_train)):
        train_features = X_train.iloc[train]
        train_target = y_train.iloc[train]
        
        val_features = X_train.iloc[val]
        val_target = y_train.iloc[val]
        
        ml_model = model.fit(train_features, train_target)
        prediction = ml_model.predict(val_features)
        
        rmse_score = np.sqrt(mse(val_target, prediction))
        RMSE_list.append(rmse_score)
        
    print('RMSE Scores:')
    print(RMSE_list)
    print('')
    print(f'Average RMSE Score: {np.mean(RMSE_list)}')
    print('')
    
    ml_model_final = model.fit(X_train, y_train)
    test_prediction = ml_model_final.predict(X_test)
    rmse_final = np.sqrt(mse(y_test, test_prediction))
    
    print(f'RMSE Evaluate on Test Set: {rmse_final}')
    return ml_model_final

In [7]:
linear_reg = k_fold_eval(LinearRegression())

RMSE Scores:
[0.20371217588591506, 0.25960386793372614, 0.24344012193554376, 0.2575351704673994, 0.28869148341738105]

Average RMSE Score: 0.2505965639279931

RMSE Evaluate on Test Set: 0.23422645103031592

Okay, dengan Linear Regression, kita mendapatkan rata-rata RMSE 0.22 (pada cross validation), serta RMSE 0.23 pada Test Set.

In [8]:
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet

In [9]:
ridge_reg = k_fold_eval(Ridge())

RMSE Scores:
[0.15380004240411324, 0.2134904059783278, 0.18486171017651526, 0.1667428055830604, 0.19832156274921256]

Average RMSE Score: 0.18344330537824588

RMSE Evaluate on Test Set: 0.16683820768815244

In [10]:
lasso_reg = k_fold_eval(Lasso())

RMSE Scores:
[0.26494020130075124, 0.3072293744166097, 0.2959851861025427, 0.2707031627558652, 0.2784957810065473]

Average RMSE Score: 0.28347074111646325

RMSE Evaluate on Test Set: 0.24938730808883183

In [11]:
elastic_net = k_fold_eval(ElasticNet())

RMSE Scores:
[0.26494020130075124, 0.3072293744166097, 0.2959851861025427, 0.2707031627558652, 0.2784957810065473]

Average RMSE Score: 0.28347074111646325

RMSE Evaluate on Test Set: 0.24938730808883183

Ternyata, pada data kita kali ini, teknik "regularization" yang paling "ampuh" adalah Ridge Regression.

Apa bedanya Ridge Regression dan Linear Regression? Jika kita ingat pemaparan di teori, Ridge Regression berusaha membuat agar nilai koefisien regresi sekecil mungkin. Yuk bandingin koefisien regresi di Ridge dan di Linear Regression!

In [12]:
np.abs(ridge_reg.coef_).sum()

6.339058904227911

In [13]:
np.abs(linear_reg.coef_).sum()

148.75334563710976

### Part 2: K-Nearest Neighbors

In [14]:
heart_data = pd.read_csv('heart.csv')

In [15]:
heart_data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [16]:
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

Data ini berisi data pasien dalam sebuah rumah sakit. Jika pasien memiliki nilai '0' pada `target`, maka pasien tersebut sehat, namun jika pasien tersebut memiliki nilai '1' pada `target`, maka pasien tersebut terdeteksi memiliki sakit jantung.

In [17]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [18]:
X = heart_data.drop('target', axis = 'columns')
y = heart_data['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, test_size = 0.2)

In [19]:
kf = KFold(n_splits = 5)
report_dictionary = {
    'k':[],
    'cross_val_avg_acc':[],
    'test_data_acc':[]
}

for k in range(20):
    acc_list = []
    for i, (train, val) in enumerate(kf.split(X_train)):
        train_features = X_train.iloc[train]
        train_target = y_train.iloc[train]

        val_features = X_train.iloc[val]
        val_target = y_train.iloc[val]
        
        ml_model = KNeighborsClassifier(k+1).fit(train_features, train_target)
        prediction = ml_model.predict(val_features)
        
        acc_list.append(accuracy_score(val_target, prediction))
    
    average_accuracy = np.mean(acc_list)
    report_dictionary['k'].append(k+1)
    report_dictionary['cross_val_avg_acc'].append(average_accuracy)
    
    ml_model_final = KNeighborsClassifier(k+1).fit(X_train, y_train)
    prediction_test = ml_model_final.predict(X_test)
    final_acc = accuracy_score(y_test, prediction_test)
    
    report_dictionary['test_data_acc'].append(final_acc)

In [20]:
pd.DataFrame(report_dictionary).sort_values(['test_data_acc'], ascending = False).head(5)

     k  cross_val_avg_acc  test_data_acc
17  18           0.632483       0.639344
19  20           0.636565       0.622951
15  16           0.611650       0.622951
14  15           0.628231       0.622951
18  19           0.644813       0.606557

In [21]:
pd.DataFrame(report_dictionary).sort_values(['cross_val_avg_acc'], ascending = False).head(5)

     k  cross_val_avg_acc  test_data_acc
2    3           0.677891       0.573770
3    4           0.648980       0.540984
4    5           0.648895       0.573770
6    7           0.644813       0.573770
18  19           0.644813       0.606557

Kesimpulan:
- Memang, rata-rata cross validation tertinggi dimenangkan oleh k = 3 dan k = 4, namun kedua KNN model ini memiliki nilai akurasi yang buruk pada data test. Ini adalah contoh bentuk dari overfitting - dimana model memiliki performa tinggi pada training set, namun buruk pada test set. 

- Hasil k = 18 dirasa optimal karena memiliki akurasi yang tinggi baik di training maupun di test set.

Oleh sebab itu, k = 18 menjadi nilai 'k' yang optimal.

### Part 3: Random Forest Tuning

Untuk Random Forest, kita akan menggunakan dataset Apartment yang teman-teman sekalian telah analisa di EDA. Bedanya, kali ini kita langsung menggunakan dataset yang sudah dibersihkan dari 'kejanggalan'.

In [22]:
apt = pd.read_csv('cleaned_apt_data.csv')

In [23]:
apt.head()

,No_Rooms,Bathroom,Longitude,Latitude,Furnished,Area,Total_Facilities,AnnualPrice
0,1,1,106.819159,-6.226598,1,43.0,23,96000000
1,2,1,106.756061,-6.192081,0,35.0,19,30000000
2,2,1,106.757651,-6.186415,1,53.0,22,70000000
3,2,2,106.784600,-6.272637,1,85.0,24,576000000
4,2,1,106.796056,-6.153652,0,48.0,15,32000000

In [24]:
X = apt.drop('AnnualPrice', axis = 'columns')
y = apt['AnnualPrice']

In [25]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

base_model = RandomForestRegressor()

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, test_size = 0.2)

In [27]:
base_model.fit(X_train, y_train)
base_pred = base_model.predict(X_test)
base_rmse = np.sqrt(mse(y_test, base_pred))
print('Base Model has RMSE:', base_rmse)
print('Base Model has R2-Score:', r2_score(y_test, base_pred))

Base Model has RMSE: 28305040.367174413
Base Model has R2-Score: 0.9045058622190447

In [28]:
from sklearn.model_selection import RandomizedSearchCV

# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]

# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf}

print(random_grid)

{'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000], 'max_features': ['auto', 'sqrt'], 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None], 'min_samples_split': [2, 5, 10], 'min_samples_leaf': [1, 2, 4]}

In [29]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestRegressor()
# Random search of parameters, using 5 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator=rf, param_distributions=random_grid,
                              n_iter = 100, cv = 5, verbose=3, random_state=42, n_jobs=-1,
                              return_train_score=True)

# Fit the random search model
rf_random.fit(X_train, y_train)

Fitting 5 folds for each of 100 candidates, totalling 500 fits

RandomizedSearchCV(cv=5, estimator=RandomForestRegressor(), n_iter=100,
                   n_jobs=-1,
                   param_distributions={'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [200, 400, 600, 800,
                                                         1000, 1200, 1400, 1600,
                                                         1800, 2000]},
                   random_state=42, return_train_score=True, verbose=3)

In [30]:
rf_random.best_params_

{'n_estimators': 1600,
 'min_samples_split': 2,
 'min_samples_leaf': 1,
 'max_features': 'auto',
 'max_depth': 30}

In [8]:
new_pred = rf_random.best_estimator_.predict(X_test)
new_rmse = np.sqrt(mse(y_test, new_pred))
print('New Model has RMSE:', new_rmse)
print('New Model has R2-Score:', r2_score(y_test, new_pred))

NameError: name 'rf_random' is not defined

In [9]:
print('Improvement of:', ((base_rmse - new_rmse)/base_rmse)*100, '%')

NameError: name 'base_rmse' is not defined